# Use Headless OpenCV for servers
opencv-python-headless

# Use CPU-only Torch to save 1GB+ space
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

# Core Vision & Processing
heartpy>=1.2
scipy>=1.8
einops>=0.8 
av>=13 
numpy

# Choose your backend - Keep only what is strictly necessary
onnxruntime>=1.8
keras>=3.5.0
jax[cpu]>=0.4.26

# Web Framework
uvicorn[standard]>=0.30.0
fastapi
python-multipart